# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# Flask
instance/
media/
*.db

# Node/Vite
node_modules/
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Virtual environments
*.env

# IDE
.vscode/
.idea/

# Ignore all soundfont files
*.sf2